* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
}

.main_and_search_back {
    background: rgba(0, 28, 61, 0.08);
}

.button_search_pad {
    padding: 10px;
    border-radius: 10px;
}

.page_header {
    padding: 10px;
}

.white_back {
    background: white;
}

.page_header_child {
    display: flex;
    align-items: center;
    width: 1000px;
    margin: auto;
}

.top_search_text {
    margin-left: 10px;
    border: none;
}

.switch {
    margin-left: auto;
    margin-top: -10px;
    margin-bottom: -10px;
    text-decoration: none;
    color: black;
    font-weight: 600;
    padding: 20px 10px;
}

.bottom_parent {
    display: flex;
    margin: auto;
    width: 1000px;
    justify-content: space-between;
}

.left_side {
    display: flex;
    flex-direction: column;
    padding: 30px 0;
    width: 600px;
}

.right_side {
    width: 320px;
}

.right_side_padding {
    padding: 20px 24px;
}

.left_buttons_border {
    border-radius: 15px;
}

.top_button {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 30px;
}

.logo1 {
    align-self: center;
    margin-top: 12px;
}

.checkBox {
    display: flex;
}

.checkBox_right_icon {
    position: relative;
    top: 13px;
    left: 4px;
    height: 18px;
}

.checkbox_saveHeader {
    font-weight: 500;
    margin-bottom: 6px;
}

.checkBox_bottom_texts {
    position: absolute;
    width: 260px;
    padding: 11px;
    line-height: 18px;
    left: -116px;
    border-radius: 8px;
    box-shadow: 0 20px 40px rgba(0,0,0,.3), 0 0 1px 0 rgba(0,20,51,.4);
    visibility: hidden;
    top: 30px;
    transition-duration: .2s;
    opacity: 0;
}

.text_logo {
    font-size: 20px;
    text-align: center;
    margin-top: 16px;
    margin-bottom: 20px;
    font-weight: 500;
}

.placeholder_text {
    border: 1px solid #d7d2d2;
}

.check {
    margin-top: 15px;
}

.save_sign_text {
    color: #818C99;
    position: relative;
    bottom: 2px;
    font-size: 13px;
    margin-left: 2px;
}

.button_right_side {
    text-decoration: none;
    margin: 20px 0;
    color: white;
    text-align: center;
}

.sign_in {
    background: #0077ff;
    border: 1px solid #0077ff;;
}

.text_between {
    align-self: center;
    color: #99A2AD;
}

.qr {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid gray;
    color: black;
}

.qr_svg {
    position: relative;
    right: 5px;
}

.bottom_button {
    display: flex;
    flex-direction: column;
    margin-top: -10px;
}

.sign_up {
    background: #4BB34B;
    margin-top: 5px;
    border: 1px solid #4BB34B;
}

.main_text {
    font-size: 14px;
}

.bottom_info_text {
    text-align: center;
    color: #99A2AD;
    line-height: 18px;
    margin-top: -8px;
    font-size: 13px;
}

.color_text1 {
    color: #626D7A !important;
}

.text_to_center {
    text-align: center;
}

.left_top_text1 {
    font-size: 22px;
    line-height: 26px;
    font-weight: 700;
    margin-bottom: 8px
}

.left_top_text2 {
    line-height: 20px;
}

.mob_pic_main {
    display: flex;
    margin-top: 30px;
    margin-bottom: 20px;
}

.pic2 {
    margin-left: -30px;
}

.pic1 {
    padding-bottom: 15px;
}

.mobile_pics {
    align-self: center;
}

.icons_mobile_pics {
    display: flex;
    justify-content: space-between;
}

.apps {
    display: flex;
    text-decoration: none;
    align-items: center;
    padding: 8px 10px;
    color: #346297;
}


.apps_svg {
    position: relative;
    margin-right: 6px;
    top: 1px;
}

.prod {
    display: inline-flex;
    align-self: center;
    line-height: 15px;
    margin-top: 24px;
    margin-bottom: 20px;
}

.text_arrow {
    position: relative;
    left: 0;
    opacity: .6;
    margin-left: 2px;
    margin-top: 3px;
    transition-duration: .2s;
}

.prod:hover .text_arrow {
    transition-duration: .2s;
    left: 2px;
}

.bottom_texts {
    display: flex;
    justify-content: space-between;
    width: 1000px;
    margin: 0 auto 40px;
}

.bottom_texts_size {
    font-size: 13px;
}

.bottom_text_main {
    text-decoration: none;
    padding: 0 3px;
    color: #2A5885;
}

.sign_in:hover {
    background: #2b89ff;
}

.qr:hover {
    background: rgba(94, 112, 133, 0.08);
}

.sign_up:hover {
    background: #6dbb6d;
}

.button_right_side:active {
    padding-top: 11px;
    padding-bottom: 9px;
}

.switch:hover {
    background: rgba(94, 112, 133, 0.08);
}

.apps:hover {
    background: rgba(150, 181, 217, 0.08);
    border-radius: 8px;
}

.apps:active {
    padding-top: 9px;
    padding-bottom: 7px;
}

.bottom_text_main:hover {
    text-decoration: underline;
}

.placeholder_text:focus {
    border: 1px solid #2674bb;
}

.checkBox_right_icon:hover .checkBox_bottom_texts{
    top: 20px;
    visibility: visible;
    opacity: 1;
}




